@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #eeeeee;
  --card-container-bg-color: #ffffff;
}

.dark {
  --background: #1e1e1e;
  --foreground: #202020;
  --card-container-bg-color: #f8f9fa;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
